aiohttp==3.3.2
async-timeout==3.0.0
attrs==18.1.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
idna==2.7
multidict==4.3.1
pipenv==2018.7.1
requests==2.19.1
source==1.2.0
telepot==12.7
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
yarl==1.2.6
